<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification">
          <p class="title">Historique de vos visites</p>
          <div class="content">
            <table>
              <thead>
              <tr>
                <th>Lieu</th>
                <th>Date</th>
                <th>Guide</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Tour Eiffel</td>
                <td>22/01/2018</td>
                <td>Jean</td>
              </tr>
              <tr>
                <td>Champs Elysées</td>
                <td>22/01/2018</td>
                <td>Visite libre</td>
              </tr>
              </tbody>
            </table>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <p class="title">Mes parcours enregistrés</p>
          <div class="content">
            <table>
              <thead>
              <tr>
                <th>Cliquez pour voir le détail</th>
                <th>Statut</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Parcours Lille 1</td>
                <td>En attente</td>
              </tr>
              <tr>
                <td>Parcours Lille 2</td>
                <td>Brouillon</td>
              </tr>
              </tbody>
            </table>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<div class="tile is-ancestor" *ngIf="isGuide">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification">
          <p class="title">Demandes en attente</p>
          <div>
            <span class="supprimer_demande"><i class="fa fa-window-close"></i></span>
            <span class="valider_demande"><i class="fa fa-check-square"></i></span>
            <h4>Tour Eiffel </h4>
            <p class="content">22/01/2018 à 14h00</p>
          </div>
          <hr>
          <div>
            <span class="supprimer_demande"><i class="fa fa-window-close"></i></span>
            <span class="valider_demande"><i class="fa fa-check-square"></i></span>
            <h4>Champs Elysées </h4>
          </div>
          <p class="content">22/01/2018 à 15h00</p>
          <p class="content">(*Expire après 48h en absence de réponse)</p>
        </article>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification">
      <div class="content">
        <p class="title">Mon porte-monnaie</p>
        <p class="subtitle has-text-centered">Solde : {{ userLog.guide.billfold }} €</p>
        <p class="content">
          <button class="login_valider">
          Retirer mon argent
          </button>
        </p>
      </div>
    </article>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent" *ngIf="!isGuide">
        <article class="tile is-child notification">
          <div class="content">
            <p class="title">Devenir guide ?</p>
            <div class="content">
              Pandatrip partenaires est un programme unique vous permettant de devenir guide où que vous soyez, et qui que vous soyez.
              Partagez votre goût pour l'aventure et faites vous rémunérer en partageant votre savoir et surtout vos histoires passionnantes.
              Pandatrip partenaires vous met en relation avec des visiteurs au plus près de chez vous.
              De là à nous rejoindre, il n'y a qu'un pas. A vous de le sauter !
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent is-vertical is-4">
        <article class="tile is-child notification">
          <p class="title">Mes informations</p>
          <figure class="image">
            <img src="../assets/img/{{ userLog.image.url }}" alt="{{ userLog.image.description }}">
          </figure>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <p class="title">
            <span *ngIf="!show">{{ userLog.username }}</span>
            <input *ngIf="show" (input)="userLog.username = $event.target.value" [value]='userLog.username' class="input_edit" (blur)="toggle()">
            <i class="fa fa-pencil-square" (click)="toggle()"></i>
          </p>

          <p class="content">
            <span *ngIf="userLog.gender == 'male'">M. </span><span *ngIf="userLog.gender == 'female'">Mme. </span>
            <span *ngIf="!show">{{ userLog.lastname }} {{ userLog.firstname }}</span>
            <input *ngIf="show" (input)="userLog.lastname = $event.target.value" [value]='userLog.lastname' class="input_edit" (blur)="toggle()">
            <input *ngIf="show" (input)="userLog.firstname = $event.target.value" [value]='userLog.firstname' class="input_edit" (blur)="toggle()">
          </p>

          <p class="content">
            <span>Mail: </span>
            <span *ngIf="!show">{{ userLog.mail }}</span>
            <input *ngIf="show" (input)="userLog.mail = $event.target.value" [value]='userLog.mail' class="input_edit" (blur)="toggle()">
          </p>

          <p class="content" *ngIf="isGuide">
            <span>Tel : </span>
            <span *ngIf="!show">{{ userLog.guide.phoneNumber }}</span>
            <input *ngIf="show" (input)="userLog.guide.phoneNumber = $event.target.value" [value]='userLog.guide.phoneNumber' class="input_edit" (blur)="toggle()">
          </p>

          <p class="content" *ngIf="isGuide">
            <span>Adresse : </span>
            <span *ngIf="!show">{{ userLog.guide.address }} ({{ userLog.guide.postalCode }})</span>
            <input *ngIf="show" (input)="userLog.guide.address = $event.target.value" [value]='userLog.guide.address' class="input_edit" (blur)="toggle()">
            <input *ngIf="show" (input)="userLog.guide.postalCode = $event.target.value" [value]='userLog.guide.postalCode' class="input_edit" (blur)="toggle()">
          </p>

          <p class="content" *ngIf="isGuide">
            <span>Ville : </span>
            <span *ngIf="!show">{{ userLog.guide.city }}</span>
            <input *ngIf="show" (input)="userLog.guide.city = $event.target.value" [value]='userLog.guide.city' class="input_edit" (blur)="toggle()">
          </p>

          <p class="content" *ngIf="isGuide">
            <span>Région : </span>
            <span *ngIf="!show">{{ userLog.guide.region }}</span>
            <input *ngIf="show" (input)="userLog.guide.region = $event.target.value" [value]='userLog.guide.region' class="input_edit" (blur)="toggle()">
          </p>

          <p class="content" *ngIf="isGuide">
            <span>Pays : </span>
            <span *ngIf="!show">{{ userLog.guide.country }}</span>
            <input *ngIf="show" (input)="userLog.guide.country = $event.target.value" [value]='userLog.guide.country' class="input_edit" (blur)="toggle()">
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
