<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification"  *ngIf="!isGuide">
          <p class="title">Historique de vos visites</p>
          <div class="content">
            <table>
              <thead>
              <tr>
                <th>Lieu</th>
                <th>Date</th>
                <th>Guide</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Tour Eiffel</td>
                <td>22/01/2018</td>
                <td>Jean</td>
              </tr>
              <tr>
                <td>Champs Elysées</td>
                <td>22/01/2018</td>
                <td>Visite libre</td>
              </tr>
              </tbody>
            </table>
          </div>
        </article>

        <article class="tile is-child notification" *ngIf="isGuide">
          <p class="title">Les demandes acceptées</p>
          <p *ngIf="visitsUserValidated.length == 0">
            Vous n'avez accepté aucune demande
          </p>

          <table *ngIf="visitsUserValidated.length > 0" class="table_contenu">
            <thead>
              <tr>
                <th>Nom du lieu</th>
                <th>Visiteur</th>
                <th>Durée</th>
                <th>Prix</th>
              </tr>
            </thead>
            <tbody *ngFor="let visitUser of visitsUserValidated; let i = index">
              <tr>
                <td>{{ visitUser.visit.name }}</td>
                <td>{{ visitUser.user.lastname }} <span title="{{visitUser.user.mail}}">{{ visitUser.user.firstname }}</span></td>
                <td>{{ visitUser.visitGuide.duration }} min</td>
                <td>{{ visitUser.visitGuide.price }} €</td>
              </tr>
            </tbody>
          </table>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <p class="title">Mes parcours enregistrés</p>
          <div class="content">
            <table>
              <thead>
              <tr>
                <th>Cliquez pour voir le détail</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let parcours of userParcours;">
                <td>
                    <a class="open-modal" data-modal-id="#UserParcours-modal"(click)='openModalRecap($event, parcours)'>{{ parcours.name }}</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<!-- Détails parcours enregistré -->
<div class="modal" id="UserParcours-modal">
  <div class="modal-background"></div>
  <div class="modal-card modal_taille">
    <header class="modal-card-head">
      <p class="modal-card-title">Détails du parcours "{{ parcoursSelected.name }}" </p>
      <a class="delete close-modal" aria-label="close" data-modal-id="#UserParcours-modal"></a>
    </header>
    <section class="modal-card-body">
      <p *ngIf="parcoursSelected.visitUser.length == 0">
        Aucune visite dans ce parcours
      </p>

      <table *ngIf="parcoursSelected.visitUser.length > 0" class="table_recap">
        <thead>
          <tr>
            <th>Lieu</th>
            <th>Nom du lieu</th>
            <th>Adresse</th>
            <th>Prix du guide</th>
            <th>Guide</th>
          </tr>
        </thead>
        <tbody *ngFor="let itemVisit of parcoursSelected.visitUser">
          <tr>
            <td>
              <figure class="image is-128x128">
                <a href="visit/{{ itemVisit.visit.name }}">
                  <img src="../assets/img/{{ itemVisit.visit.images[0].url }}"
                      alt="{{ itemVisit.visit.images[0].description }}" class="image_visite_recap">
                </a>
              </figure>
            </td>
            <td>{{ itemVisit.visit.name }}</td>
            <td>
              {{ itemVisit.visit.address }}, {{ itemVisit.visit.city }} ({{ itemVisit.visit.postalCode }})<br>
              {{ itemVisit.visit.country }} {{ itemVisit.visit.region }}
            </td>

            <td *ngIf="itemVisit.visitGuide == null">/</td>
            <td *ngIf="itemVisit.visitGuide != null">{{ itemVisit.visitGuide.price }} €</td>

            <td *ngIf="itemVisit.visitGuide == null">Visite libre</td>
            <td *ngIf="itemVisit.visitGuide != null">
              <figure class="image is-96x96">
                <img src="../assets/img/{{ itemVisit.visitGuide.guide.user.image.url }}"
                    alt="{{ itemVisit.visitGuide.guide.user.firstname  }}" class="image_visite_recap">
                {{ itemVisit.visitGuide.guide.user.firstname }} {{ itemVisit.visitGuide.guide.user.lastname}}
              </figure>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <footer class="modal-card-foot">
      <button class="close-modal button bouton_vert" data-modal-id="#UserParcours-modal">Revenir à la page Profil</button>
    </footer>
  </div>
</div>

<div class="tile is-ancestor" *ngIf="isGuide">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification">
          <p class="title">Demandes en attente</p>
          <p *ngIf="visitsUserWaiting.length == 0">
            Vous n'avez aucune demande en attente
          </p>

          <table *ngIf="visitsUserWaiting.length > 0">
            <thead>
              <tr>
                <th>Lieu</th>
                <th>Nom du lieu</th>
                <th>Visiteur</th>
                <th>Durée</th>
                <th>Prix</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody id="ligne_visite" *ngFor="let visitUser of visitsUserWaiting; let i = index">
              <tr>
                <td>
                  <figure class="image is-128x128">
                    <a href="visit/{{ visitUser.visit.name }}">
                      <img src="../assets/img/{{ visitUser.visit.images[0].url }}"
                          alt="{{ visitUser.visit.images[0].description }}" class="image_visite_recap">
                    </a>
                  </figure>
                </td>
                <td>{{ visitUser.visit.name }}</td>
                <td>{{ visitUser.user.lastname }} {{ visitUser.user.lastname }}</td>
                <td>{{ visitUser.visitGuide.duration }} min</td>
                <td>{{ visitUser.visitGuide.price }} €</td>
                <td (click)='declineVisitUser($event, visitUser, i)'><span class="supprimer_demande"><i class="fa fa-window-close"></i></span></td>
                <td (click)='validateVisitUser($event, visitUser, i)'><span class="valider_demande"><i class="fa fa-check-square"></i></span></td>
              </tr>
            </tbody>
            <tfoot>
              <tr><p class="content">(*Expire après 48h en absence de réponse)</p></tr>
            </tfoot>
          </table>
        </article>
      </div>
    </div>
  </div>

</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent" *ngIf="!isGuide">
        <article class="tile is-child notification">
          <div class="content">
            <p class="title">Devenir guide ?</p>
            <div class="content">
              Pandatrip partenaires est un programme unique vous permettant de devenir guide où que vous soyez, et qui
              que vous soyez.
              Partagez votre goût pour l'aventure et faites vous rémunérer en partageant votre savoir et surtout vos
              histoires passionnantes.
              Pandatrip partenaires vous met en relation avec des visiteurs au plus près de chez vous.
              De là à nous rejoindre, il n'y a qu'un pas. A vous de le sauter !
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">

      <div class="tile is-parent is-vertical is-3">
        <article class="tile is-child notification">
          <p class="title">Mes informations</p>
          <figure class="image">
            <img src="../assets/img/{{ userLog.image.url }}" alt="{{ userLog.image.description }}">
          </figure>
        </article>
      </div>

      <div class="tile is-parent is-5">
        <article class="tile is-child notification">
          <p class="title">
            <span *ngIf="!show">{{ userLog.username }}</span>
            <input *ngIf="show" (input)="userLog.username = $event.target.value" [value]='userLog.username'
                   class="input_edit" (blur)="toggle()">
            <i class="fa fa-pencil-square" (click)="toggle()"></i>
          </p>

          <p class="content">
            <span *ngIf="userLog.gender == 'male'">M. </span><span *ngIf="userLog.gender == 'female'">Mme. </span>
            <span *ngIf="!show">{{ userLog.lastname }} {{ userLog.firstname }}</span>
            <input *ngIf="show" (input)="userLog.lastname = $event.target.value" [value]='userLog.lastname'
                   class="input_edit" (blur)="toggle()">
            <input *ngIf="show" (input)="userLog.firstname = $event.target.value" [value]='userLog.firstname'
                   class="input_edit" (blur)="toggle()">
          </p>

          <p class="content">
            <span>Mail: </span>
            <span *ngIf="!show">{{ userLog.mail }}</span>
            <input *ngIf="show" (input)="userLog.mail = $event.target.value" [value]='userLog.mail' class="input_edit"
                   (blur)="toggle()">
          </p>

          <p class="content" *ngIf="isGuide">
            <span>Tel : </span>
            <span *ngIf="!show">{{ userGuide.phoneNumber }}</span>
            <input *ngIf="show" (input)="userGuide.phoneNumber = $event.target.value" [value]='userGuide.phoneNumber'
                   class="input_edit" (blur)="toggle()">
          </p>

          <p class="content" *ngIf="isGuide">
            <span>Adresse : </span>
            <span *ngIf="!show">{{ userGuide.address }} ({{ userGuide.postalCode }})</span>
            <input *ngIf="show" (input)="userGuide.address = $event.target.value" [value]='userGuide.address'
                   class="input_edit" (blur)="toggle()">
            <input *ngIf="show" (input)="userGuide.postalCode = $event.target.value" [value]='userGuide.postalCode'
                   class="input_edit" (blur)="toggle()">
          </p>

          <p class="content" *ngIf="isGuide">
            <span>Ville : </span>
            <span *ngIf="!show">{{ userGuide.city }}</span>
            <input *ngIf="show" (input)="userGuide.city = $event.target.value" [value]='userGuide.city'
                   class="input_edit" (blur)="toggle()">
          </p>

          <p class="content" *ngIf="isGuide">
            <span>Région : </span>
            <span *ngIf="!show">{{ userGuide.region }}</span>
            <input *ngIf="show" (input)="userGuide.region = $event.target.value" [value]='userGuide.region'
                   class="input_edit" (blur)="toggle()">
          </p>

          <p class="content" *ngIf="isGuide">
            <span>Pays : </span>
            <span *ngIf="!show">{{ userGuide.country }}</span>
            <input *ngIf="show" (input)="userGuide.country = $event.target.value" [value]='userGuide.country'
                   class="input_edit" (blur)="toggle()">
          </p>
        </article>
      </div>

      <div class="tile is-parent is-3.5" *ngIf="isGuide">
        <article class="tile is-child notification">
          <div class="content">
            <p class="title">Mon porte-monnaie</p>
            <p class="subtitle has-text-centered">Solde : {{ userGuide.billfold }} €</p>
            <p class="content">
              <button class="login_valider">
                Retirer mon argent
              </button>
            </p>
          </div>
        </article>
      </div>

    </div>
  </div>
</div>
