<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification">
          <p class="title">Historique de vos visites</p>
          <div class="content">
            <table>
              <thead>
              <tr>
                <th>Lieu</th>
                <th>Date</th>
                <th>Guide</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Tour Eiffel</td>
                <td>22/01/2018</td>
                <td>Jean</td>
              </tr>
              <tr>
                <td>Champs Elysées</td>
                <td>22/01/2018</td>
                <td>Visite libre</td>
              </tr>
              </tbody>
            </table>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <p class="title">Mes parcours enregistrés</p>
          <div class="content">
            <table>
              <thead>
              <tr>
                <th>Cliquez pour voir le détail</th>
                <th>Statut</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Parcours Lille 1</td>
                <td>En attente</td>
              </tr>
              <tr>
                <td>Parcours Lille 2</td>
                <td>Brouillon</td>
              </tr>
              </tbody>
            </table>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<div class="tile is-ancestor" *ngIf="isGuide">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification">
          <p class="title">Demandes en attente</p>
          <div>
            <span class="supprimer_demande"><i class="fa fa-window-close"></i></span>
            <span class="valider_demande"><i class="fa fa-check-square"></i></span>
            <h4>Tour Eiffel </h4>
            <p class="content">22/01/2018 à 14h00</p>
          </div>
          <hr>
          <div>
            <span class="supprimer_demande"><i class="fa fa-window-close"></i></span>
            <span class="valider_demande"><i class="fa fa-check-square"></i></span>
            <h4>Champs Elysées </h4>
          </div>
          <p class="content">22/01/2018 à 15h00</p>
          <p class="content">(*Expire après 48h en absence de réponse)</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <p class="title">Proposer une visite</p>
          <p><input class="profil_input" type="text" placeholder="Saisissez le lieu"></p>
          <p><input class="profil_input" type="text" placeholder="Saisissez votre tranche horaire"></p>
          <button class="login_valider">
            Enregistrer
          </button>
        </article>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification">
      <div class="content">
        <p class="title">Mon porte-monnaie</p>
        <p class="subtitle has-text-centered">Solde : {{ userLog.guide.billfold }} €</p>
        <p class="content"><a href="#">Transférer mon argent</a></p>
      </div>
    </article>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification">
          <p class="title">Vos informations</p>
          <article class="message">
              <img src="../assets/img/{{ userLog.image.url }}" alt="{{ userLog.image.description }}">
            <div>
              Username : {{ userLog.username }}
            </div>
            <div *ngIf="userLog.gender == 'male'">
              M. {{ userLog.lastname }} {{ userLog.firstname }}
            </div>
            <div *ngIf="userLog.gender == 'female'">
              Mme. {{ userLog.lastname }} {{ userLog.firstname }}
            </div>
            <div>
              Mail : {{ userLog.mail }}
            </div>
            <div *ngIf="isGuide">
              Tel : {{ userLog.guide.phoneNumber }}
            </div>
            <div *ngIf="isGuide">
              Addresse : {{ userLog.guide.address }}
            </div>
            <div *ngIf="isGuide">
              Ville : {{ userLog.guide.city }} ({{ userLog.guide.postalCode }})
            </div>
            <div *ngIf="isGuide">
              Région : {{ userLog.guide.region }}
            </div>
            <div *ngIf="isGuide">
              Pays : {{ userLog.guide.country }}
            </div>
          </article>
        </article>
      </div>
      <div class="tile is-parent" *ngIf="!isGuide">
        <article class="tile is-child notification">
          <div class="content">
            <p class="title">Devenir guide ?</p>
            <div class="content">
              Pandatrip partenaires est un programme unique vous permettant de devenir guide où que vous soyez, et qui que vous soyez.
              Partagez votre goût pour l'aventure et faites vous rémunérer en partageant votre savoir et surtout vos histoires passionnantes.
              Pandatrip partenaires vous met en relation avec des visiteurs au plus près de chez vous.
              De là à nous rejoindre, il n'y a qu'un pas. A vous de le sauter !
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
