.valider_demande {
  position: absolute;
  right: 2.5rem;
  cursor: pointer;
}

.supprimer_demande {
  position: absolute;
  right: 4rem;
  cursor: pointer;
}

.profil_input {
  padding-left: 15px;
  height: 2.45rem;
  width: 100%;
  font-family: "Source Sans Pro";
  font-size: 1.3rem;
}

.login_valider {
  background-color: #78ab66;
  padding: 0.7rem;
  border-radius: 3px;
  box-shadow: 1px 0px 2px #78ab66;
  width: 12rem;
  color: white;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 1.3rem;
  display: block;
  margin: 0.5rem auto 0;
}

.fa-window-close {
  background: white;
  color: #F64343;
}

.fa-check-square {
  background-color: white;
  color: #78ab66;
}

.input_edit {
  padding-left: 35px;
  height: 2.45rem;
  width: 30%;
  max-width: 30%;
  font-family: "Source Sans Pro";
  font-size: 1.3rem;
}

.fa-pencil-square {
  cursor: pointer;
}


.modal-card.modal_taille{
  width: 80%;
}

.table_recap, .table_contenu{
  width: 100%;
}


.table_recap td {
  vertical-align: middle;
  text-align: center;
}
