.rechercher{
  float: left;
  width: 38%;
  margin-top:0.2rem;
}

.rechercher_barre{
  height: 2.45rem;
  width: 78%;
  padding-left: 0.8rem;
}

input.rechercher_barre::placeholder{
  color:#7bb575;
  font-family: "Source Sans Pro";
  font-size: 1.3rem;
}

.rechercher_valider{
  border-radius: 0 2px 2px 0;
  background-color: #f8f8f8;
  width: 4.8rem;
  height: 2.6rem;
  display: block;
  text-align: center;
  float: right;
  border-top: solid 0.1rem #d3d3d3;
  border-bottom: solid 0.1rem #d3d3d3;
  border-right: solid 0.1rem #d3d3d3;
}

.rechercher_valider:hover
{
  opacity: 0.9;
  background-color: #f0f0f0;
  box-shadow:0px 1px 0px #f0f0f0;
}

.rechercher_valider img{
  width: 18px;
  vertical-align: middle;
  text-align: center;
  margin-top: 0.7rem;
}
