
.square_theme
{
  background: #8eadEE;
  height: 10rem;
  border:solid 4px white;
}

.title_theme
{
  margin-top: 5rem;
}

.card-content .content h2{
  margin: 0;
}

.card-image {
  cursor: pointer;
}
