<div class="content title_theme">
  <h1>Découvrez les thèmes qui vous intéressent...</h1>
</div>
<div class="columns has-text-centered" *ngFor="let line of lineThemes;">
    <div class="column" *ngFor="let theme of line;">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
             <!-- <img src="../assets/img/theme/{{ theme.image.url }}" alt="{{ theme.image.description }}"> -->
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h2>{{ theme.name }}</h2>
            </div>
          </div>
        </div>
    </div>
</div>
