<div style="text-align:center">
  <div class="content title_guide">
    <h1>Vivez une expérience unique avec nos guides Charlotte, Lionnel, Charles...</h1>
  </div>
    <div class="columns">
      <div class="column square_guide" *ngFor="let guide of guides">
        <h2>{{ guide.name }}</h2>
        <div><label>id: </label>{{ guide.id }}</div>
        <div><label>name: </label>{{ guide.name }}</div>
        <div><label>image: </label>{{ guide.image }}</div>
        <div><label>note: </label>{{ guide.note }} / 5</div>
    </div>
  </div>
</div>
