<div class="content title_guide">
  <h1>Vivez une expérience unique avec nos guides {{ guides[0].user.firstname }}, {{ guides[1].user.firstname }}, {{ guides[2].user.firstname }}...</h1>
</div>
<div class="columns has-text-centered">
  <div class="column" *ngFor="let guide of guides">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="../assets/img/{{ guide.user.image.url }}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h2>{{ guide.user.firstname }} {{ guide.user.lastname }}</h2>
          <star-rating-comp [starType]="'svg'" [size]="'large'" [showHalfStars]="true" [readOnly]="true"
                            [rating]="guide.note" title="{{ guide.note }}/5"></star-rating-comp>
        </div>
      </div>
    </div>
  </div>
</div>
