<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">

    <div class="tile is-parent">
      <article class="tile is-child notification bandeau-vert">
        <p class="title">De retour ? Connectez-vous</p>
      </article>
    </div>
  </div>
</div>

<div class="login">
  <p>
    <i class="fa fa-user fa-lg input_icone"></i>
    <input class="login_input" [(ngModel)]="username" placeholder="Pseudo">
  </p>
  <p>
    <i class="fa fa-lock fa-lg input_icone"></i>
    <input class="login_input" [(ngModel)]="password" type="password" placeholder="Mot de passe">
  </p>

  <button class="login_valider" (click)="onSubmit($event)">
    Connexion
  </button>
</div>
