<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">

    <div class="tile is-parent">
      <article class="tile is-child notification bandeau-vert">
        <p class="title">Ces lieux pourraient aussi vous intéresser</p>
      </article>
    </div>

    <div class="tile">
      <div class="tile is-parent is-vertical is-3.5" *ngFor="let visit of visits;" (click)="onSelect(visit, $event)">
        <div class="card tile is-child">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="./assets/img/{{ visit.images[0].url }}" alt="{{ visit.images[0].description }}">
            </figure>
          </div>
          <div class="card-content">
            <div class="content has-text-centered">
              <h4>{{ visit.name }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
