
<div class="content title_visit">
  <h1>Les utilisateurs près de Lille ont aussi aimé...</h1>
</div>
<div class="columns has-text-centered" *ngFor="let line of lineVisits;">
  <div class="column" *ngFor="let visit of line;" (click)="onSelect(visit, $event)">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="../assets/img/{{ visit.images[0].url }}" alt="{{ visit.images[0].description }}">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h2>{{ visit.name }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>

