<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">

    <div class="tile is-parent">
      <article class="tile is-child notification bandeau-vert">
        <p class="title">Rejoignez plus de 1786 guides à travers le programme Partners</p>
      </article>
    </div>
  </div>
</div>

<div class="partners">
  <p>
    <i class="fa fa-lock fa-lg input_icone"></i>
    <input class="login_input" type="text" placeholder="Date de naissance">
  </p>

  <button class="partners_valider">
    Connexion
  </button>
</div>
