<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">

    <div class="tile is-parent">
      <article class="tile is-child notification bandeau-vert">
        <p class="title">Rejoignez plus de 1786 guides à travers le programme Partners</p>
      </article>
    </div>
  </div>
</div>

<div class="partners">
  <p class="title">Deviens un guide</p>
  <p>
    <i class="fa fa-globe fa-lg input_icone"></i>
    <input class="login_input" type="text" placeholder="Ville">
  </p>
  <p>
    <i class="fa fa-phone fa-lg input_icone"></i>
    <input class="login_input" type="text" placeholder="Telephone">
  </p>
  <p>
    <i class="fa fa-lock fa-lg input_icone"></i>
    <input class="login_input" type="text" placeholder="Date de naissance">
  </p>
  <br/>
  <label class="checkbox">
    <input type="checkbox">
    J'accepte <a href="#">conditions du service</a>.
  </label>

  <button class="partners_valider">
    Devenir guide
  </button>
</div>
