<div class="container">
    <nav class="menu">
      <ul class="container">
        <li><a routerLink="/"><img src="../assets/img/pandatrip-logo-texte2.png" alt="pandatrip" class="logo_panda_texte" /></a></li>
        <research></research>
        <li><a routerLink="/">Devenir Guide</a></li>
        <li><a routerLink="/login">Se connecter</a></li>
        <li><a routerLink="/register">S'inscrire</a></li>
        <li><a routerLink="/auth">Auth</a></li>
      </ul>
    </nav>

    <router-outlet></router-outlet>

    <footer>
      <div class="content has-text-centered">
        <p>
          <strong>© Pandatrip</strong>
          <strong><a href="#"><img src="../assets/img/facebook.png" alt="facebook"></a></strong>
          <strong><a href="#"><img src="../assets/img/twitter.png" alt="twitter"></a></strong>
          <strong><a href="#">Mentions Légales</a></strong>
        </p>
      </div>
    </footer>

</div>
