<div class="container">
    <nav class="menu">
      <ul class="container">
        <li><a routerLink="/"><img src="../assets/img/pandatrip-logo-texte2.png" alt="pandatrip" class="logo_panda_texte" /></a></li>
        <research></research>
        <li *ngIf="isConnected && !isGuide"><a routerLink="/partners">Devenir Guide</a></li>
        <li *ngIf="!isConnected || isGuide"><a routerLink="/partners"></a></li>
        <li *ngIf="!isConnected"><a routerLink="/login">Se connecter</a></li>
        <li *ngIf="!isConnected"><a routerLink="/register">S'inscrire</a></li>
        <li *ngIf="isConnected"><a routerLink="/profil">Profil</a></li>
        <li *ngIf="isConnected"><a (click)="logOut($event)">Se déconnecter</a></li>
      </ul>
    </nav>

    <router-outlet></router-outlet>
</div>

<footer>
  <div class="has-text-centered container">
    <p>
      <strong>© Pandatrip</strong>
      <strong><a href="https://www.facebook.com/Pandatrip.fr/"><img src="../assets/img/facebook.png" alt="facebook"></a></strong>
      <strong><a href="https://twitter.com/Pandatrip_"><img src="../assets/img/twitter.png" alt="twitter"></a></strong>
      <strong><a href="#">Mentions Légales</a></strong>
    </p>
  </div>
</footer>
