<div class="container">
    <nav class="menu">
      <ul>
        <li><a href="/">Devenir Guide</a></li>
        <li><a href="/">Se connecter</a></li>
        <li><a href="/">S'inscrire</a></li>
      </ul>
    </nav>

    <div class="container">
        <img src="../assets/img/pandatrip-logo.png" alt="logo-panda" id="logo_panda"/>
    </div>

    <research></research>
    <themes></themes>
    <visits></visits>
    <guides></guides>


    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>© Pandatrip</strong>
            <strong>Facebook</strong>
            <strong>Twitter</strong>
            <strong>Mentions Légales</strong>
          </p>
        </div>
      </div>
    </footer>

</div>
