<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">

      <div class="tile is-parent is-vertical">
        <article class="tile is-child">
          <div *ngIf="imageSources.length != 0" class="carousel-container">
            <carousel [sources]="imageSources" [config]="config"></carousel>
          </div>
        </article>

        <article class="tile is-child is-centered">
          <div class="content">
            <button class="bouton_visit open-modal" data-modal-id="#my-modal">
              Demander un guide
            </button>
            <button class="bouton_visit" (click)="ajouterPanier()">
              Ajouter à mes visites
            </button>
            <button class="bouton_devenir_guide open-modal" data-modal-id="#guide-modal" *ngIf="isGuide"
                    (click)="toggleModalClasses($event)">
              Devenir guide pour cette visite
            </button>
          </div>
        </article>
      </div>

      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification">
          <p class="title">{{ visitSelected.name }}</p>
          <p class="content">
            <img src="../assets/img/marker.png" alt="position" class="marker"/>
            <a href="https://www.google.com/maps/search/?api=1&query={{visitSelected.latitude}},{{visitSelected.longitude}}" target="_blank">{{ visitSelected.address }}</a><span *ngIf="visitSelected.address.length != 0">,</span>
            {{ visitSelected.city }} ({{ visitSelected.postalCode }})
            {{ visitSelected.country }},
            {{ visitSelected.region }}
          </p>
          <p class="content">{{ visitSelected.description }}</p>
          <p class="content" *ngIf="visitSelected.site != null"><a href="{{ visitSelected.site }}" target="_blank">{{
            visitSelected.site }}</a></p>
        </article>
      </div>
    </div>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child notification panier">
      <p class="title">Mes visites</p>
      <div class="content" id="mon_panier">
        <div class="panier_item" *ngFor="let itemVisit of itemsVisit">
          <span class="panier_supprimer">
            <i class="fa fa-window-close" (click)="supprimerItemPanier(itemVisit.visit.name);"></i>
          </span>
          <h4>{{ itemVisit.visit.name }}</h4>
          <p *ngIf="itemVisit.guideVisit != null">{{ itemVisit.guideVisit.guide.user.firstname }} {{
            itemVisit.guideVisit.guide.user.lastname }}</p>
          <p *ngIf="itemVisit.guideVisit == null">Visite non guidée (Envie d'un guide ?)</p>
          <hr>
        </div>
      </div>

      <div class="panier_bouton">
        <p *ngIf="itemsVisit.length == 0">Ajoutez les visites qui vous plaisent.</p>
        <button *ngIf="itemsVisit.length != 0" class="bouton_visit" routerLink="/recap">
          Valider mon parcours
        </button>
      </div>
    </article>
  </div>
</div>

<!-- Choisir un guide -->
<div class="modal" id="my-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Choisir un guide</p>
      <a class="delete close-modal" aria-label="close" data-modal-id="#my-modal"></a>
    </header>
    <section class="modal-card-body">
      <p *ngIf="itemsVisitGuide.length == 0">
        Aucun guide de disponible pour cette visite
      </p>

      <table class="choisir_guide" *ngIf="itemsVisitGuide.length > 0">
        <tbody>
        <tr (click)="selectedTR($event);" *ngFor="let visitGuide of itemsVisitGuide; let i = index">
          <td class="{{ i }}">
            <figure class="image is-64x64 avatar">
              <img src="../assets/img/{{ visitGuide.guide.user.image.url }}"
                   alt="{{ visitGuide.guide.user.image.description }}"/>
            </figure>
          </td>
          <td class="guide"><span class="name_guide">{{ visitGuide.guide.user.firstname }} {{ visitGuide.guide.user.lastname }}</span>
          <td>{{ visitGuide.duration }} minutes</td>
          <td>{{ visitGuide.price }} €</td>
        </tr>
        </tbody>
      </table>
    </section>

    <footer class="modal-card-foot">
      <button class="close-modal button" data-modal-id="#my-modal">Annuler</button>
      <button class="close-modal button bouton_vert" data-modal-id="#my-modal"
              (click)="ajouterPanierGuide()">Choisir ce guide
      </button>
    </footer>
  </div>
</div>

<!-- Devenir guide -->
<div class="modal" id="guide-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Voulez-vous devenir guide pour cette visite ?</p>
      <a class="delete close-modal" aria-label="close" data-modal-id="#guide-modal"></a>
    </header>
    <section class="modal-card-body">
      <table>
        <tbody>
        <tr>
          <td>
            <p>
              <label class="label">Quel est votre tarif pour cette visite ?</label>
              <i class="fa fa-eur fa-lg input_icone"></i>
              <input class="login_input" placeholder="Prix moyen : 12.00€" type="text" [(ngModel)]="price">
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <label class="label">Combien de temps voulez-vous mener cette visite ?</label>
              <i class="fa fa-clock-o fa-lg input_icone"></i>
              <input class="login_input" placeholder="Durée moyenne : 30min" type="text" [(ngModel)]="duration">
            </p>
          </td>
        </tr>
        </tbody>
      </table>
    </section>

    <footer class="modal-card-foot">
      <button class="close-modal button" data-modal-id="#guide-modal">Annuler</button>
      <button class="close-modal button bouton_vert" data-modal-id="#guide-modal" (click)="enregistrerGuide()">
        Enregistrer
      </button>
    </footer>
  </div>
</div>

<div *ngIf="!noReviews">
  <reviews [Reviews]=visitSelected.reviews [visit]=visitSelected></reviews>
</div>
<div *ngIf="visitSelected.name !== ''">
  <visits-suggestion [visitSelected]=visitSelected></visits-suggestion>
</div>
