.bouton_visit{
  background-color: #78ab66;
  padding: 0.7rem;
  border-radius: 3px;
  box-shadow: 1px 0px 2px #78ab66;
  width: 9rem;
  color: white;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 1rem;
  display: inline-block;
}
