<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">

    <div class="tile is-parent">
      <article class="tile is-child notification bandeau-vert">
        <p class="title">Ils parlent de ce lieu</p>
      </article>
    </div>

    <div class="tile" *ngFor="let review of reviews;">

      <div class="tile is-parent is-vertical is-2">
        <article class="tile is-child">
          <figure class="image is-64x64 avatar">
            <img src="../assets/img/{{ review.avatar }}" alt="avatar" />
          </figure>
          <p class="content has-text-centered">{{ review.author }}, 27 ans</p>
        </article>
      </div>

      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification">
          <p class="subtitle">{{ review.title }} (note : {{review.note}}/5)<span *ngFor="let item of items; let i = index"></span></p>
          <p class="content">{{ review.text }}</p>
        </article>
      </div>
    </div>

    <div class="tile">

      <article class="tile is-parent">
        <div class="tile is-child notification">
          <p class="title">Racontez votre expérience</p>
          <textarea class="textarea is-success is-large" type="text" placeholder="Vous avez aimez ce lieu ? Témoignez !"></textarea>
          <button class="bouton_commenter">
            Commentez la visite
          </button>
          <star-rating-comp [starType]="'svg'" [hoverEnabled]="true" [labelText]="'Ma note '" [labelPosition]="'left'" [size]="'large'" [step]="0.5" [showHalfStars]="true" [rating]="3"></star-rating-comp>
        </div>
      </article>
    </div>

  </div>
</div>
