article.bandeau-vert {
  background-color: #78ab66;
  color: white;
}

.avatar {
  display: block;
  margin: 0 auto;
}

button.bouton_vert{
  background-color: #78ab66;
  color: white;
  text-align: center;
}

button.bouton_vert:hover{
  color: white;
}

.bouton_commenter{
  background-color: #78ab66;
  padding: 0.7rem;
  border-radius: 3px;
  box-shadow: 1px 0px 2px #78ab66;
  width: 12rem;
  color: white;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 1.3rem;
  display: block;
  margin:0 auto;
  margin-top: 0.5rem;
  cursor: pointer;
}

star-rating-comp{
  cursor: pointer;
}

.login_input{
  padding-left: 0.8rem;
  height: 2.45rem;
  width: 30%;
  max-width: 100%;
  font-family: "Source Sans Pro";
  font-size: 1.3rem;
}

.login_input::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.login_input::-webkit-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.login_input:focus {
  animation-timing-function: ease-in-out;
  animation: agrandirInput 0.7s forwards;
}

@keyframes agrandirInput {
  from {width: 30%}
  to {width: 100%}
}
