<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile is-parent">
      <article class="tile is-child notification bandeau-vert">
        <p class="title">Résultat {{filter.name}}</p>
      </article>
    </div>
  </div>
</div>

<!--<form>
  <table>
    <tbody>
    <tr *ngFor="let visit of visits | visitfilter:filter">
      <td>{{visit.name}}</td>
      <td>{{visit.region}}</td>
      <td>{{visit.address}}</td>
      <td>{{visit.country}}</td>
    </tr>
    </tbody>
  </table>
</form>-->

<form>
  <div class="tile is-ancestor" *ngFor="let visit of visits | visitfilter:filter">
    <div class="tile is-vertical is-12">
      <div class="tile">
        <div class="tile is-parent">
          <article class="tile is-child is-2">
            <figure class="search_image">
              <a href="visit/{{visit.name }}" class="search_image">
              <img src="./assets/img/{{visit.images[0].url }}" alt="{{visit.images[0].description }}" class="search_image" />
              </a>
            </figure>
          </article>
          <article class="tile is-child notification">
            <p class="title"><a href="visit/{{visit.name }}" class="search_image">{{visit.name }}</a></p>
            <p class="content"> {{visit.name }}  </p>
            <p class="content"> {{visit.address }} ({{ visit.postalCode }}), {{visit.region }} {{ visit.country }}  </p>
            <p class="content"> {{visit.description }}</p>
          </article>
        </div>
      </div>
    </div>
  </div>
</form>
